In [5]:
import numpy as np

In [9]:
import pandas as pd

In [11]:
df=pd.read_csv('./Kaggle_Dataset/salary_Dataset.csv')

In [3]:
df= pd.read_csv('./Kaggle_Dataset/cereal.csv')

In [13]:
df.head(10)

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
5,29.0,Male,Bachelor's,Marketing Analyst,2.0,55000.0
6,42.0,Female,Master's,Product Manager,12.0,120000.0
7,31.0,Male,Bachelor's,Sales Manager,4.0,80000.0
8,26.0,Female,Bachelor's,Marketing Coordinator,1.0,45000.0
9,38.0,Male,PhD,Senior Scientist,10.0,110000.0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6704 entries, 0 to 6703
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  6702 non-null   float64
 1   Gender               6702 non-null   object
 2   Education Level      6701 non-null   object
 3   Job Title            6702 non-null   object
 4   Years of Experience  6701 non-null   float64
 5   Salary               6699 non-null   float64
dtypes: float64(3), object(3)
memory usage: 314.4+ KB

In [17]:
df.describe()

               Age  Years of Experience         Salary
count  6702.000000          6701.000000    6699.000000
mean     33.620859             8.094687  115326.964771
std       7.614633             6.059003   52786.183911
min      21.000000             0.000000     350.000000
25%      28.000000             3.000000   70000.000000
50%      32.000000             7.000000  115000.000000
75%      38.000000            12.000000  160000.000000
max      62.000000            34.000000  250000.000000

In [19]:
df.head(10)

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0
5,29.0,Male,Bachelor's,Marketing Analyst,2.0,55000.0
6,42.0,Female,Master's,Product Manager,12.0,120000.0
7,31.0,Male,Bachelor's,Sales Manager,4.0,80000.0
8,26.0,Female,Bachelor's,Marketing Coordinator,1.0,45000.0
9,38.0,Male,PhD,Senior Scientist,10.0,110000.0

In [28]:
df['Education Level']=df['Education Level'].fillna(df['Education Level'].mode())

In [30]:
df['Salary']=df['Salary'].fillna(df['Salary'].mean())

In [32]:
df['Years of Experience']=df['Years of Experience'].fillna(df['Years of Experience'].mean())

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6704 entries, 0 to 6703
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  6704 non-null   float64
 1   Gender               6704 non-null   object
 2   Education Level      6704 non-null   object
 3   Job Title            6702 non-null   object
 4   Years of Experience  6704 non-null   float64
 5   Salary               6704 non-null   float64
dtypes: float64(3), object(3)
memory usage: 314.4+ KB

In [44]:
df['Gender']=df['Gender'].fillna(df['Gender'].mode())
df['Education Level']=df['Education Level'].fillna(df['Education Level'].mode())
df['Job Title']=df['Job Title'].fillna(df['Job Title'].mode())

In [82]:
empty_rows= df[df['Job Title'].isnull()]
print(empty_rows)


df.loc[172,'Job Title']='Developer'
df.loc[260,'Job Title']='Developer'
df.loc[2011  ,'Job Title']='Developer'

           Age Gender Education Level Job Title  Years of Experience  \
172  33.620859   Male             PhD       NaN             8.094687
260  33.620859   Male             PhD       NaN             8.094687

            Salary
172  115326.964771
260  115326.964771

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6704 entries, 0 to 6703
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Age                  6704 non-null   float64
 1   Gender               6704 non-null   object
 2   Education Level      6704 non-null   object
 3   Job Title            6704 non-null   object
 4   Years of Experience  6704 non-null   float64
 5   Salary               6704 non-null   float64
dtypes: float64(3), object(3)
memory usage: 314.4+ KB

In [86]:
df.head()

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,Male,Bachelor's,Software Engineer,5.0,90000.0
1,28.0,Female,Master's,Data Analyst,3.0,65000.0
2,45.0,Male,PhD,Senior Manager,15.0,150000.0
3,36.0,Female,Bachelor's,Sales Associate,7.0,60000.0
4,52.0,Male,Master's,Director,20.0,200000.0

In [100]:
feature=df[['Age','Gender','Education Level','Years of Experience']]
label=df['Salary']

In [106]:
'''
Process for linear regression : 

df=pd.read_csv()
df.info, describe
isnull-> drop duplicates, replace with mean,mode
feature label
feature onehot/LabelEncoder encoding 
train test split
sklearn linearregression
model. train 
f1.score


'''

TypeError: read_csv() missing 1 required positional argument: 'filepath_or_buffer'

In [110]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['Gender'] = encoder.fit_transform(df['Gender'])
df['Education Level'] = encoder.fit_transform(df['Education Level'])

print(df)

       Age  Gender  Education Level              Job Title  \
0     32.0       1                0      Software Engineer
1     28.0       0                3           Data Analyst
2     45.0       1                5         Senior Manager
3     36.0       0                0        Sales Associate
4     52.0       1                3               Director
...    ...     ...              ...                    ...
6699  49.0       0                5  Director of Marketing
6700  32.0       1                2        Sales Associate
6701  30.0       0                1      Financial Manager
6702  46.0       1                4      Marketing Manager
6703  26.0       0                2        Sales Executive

      Years of Experience    Salary
0                     5.0   90000.0
1                     3.0   65000.0
2                    15.0  150000.0
3                     7.0   60000.0
4                    20.0  200000.0
...                   ...       ...
6699                 20.0  200000.0
6700                  3.0   50000.0
6701                  4.0   55000.0
6702                 14.0  140000.0
6703                  1.0   35000.0

[6704 rows x 6 columns]

In [112]:
df

,Age,Gender,Education Level,Job Title,Years of Experience,Salary
0,32.0,1,0,Software Engineer,5.0,90000.0
1,28.0,0,3,Data Analyst,3.0,65000.0
2,45.0,1,5,Senior Manager,15.0,150000.0
3,36.0,0,0,Sales Associate,7.0,60000.0
4,52.0,1,3,Director,20.0,200000.0
...,...,...,...,...,...,...
6699,49.0,0,5,Director of Marketing,20.0,200000.0
6700,32.0,1,2,Sales Associate,3.0,50000.0
6701,30.0,0,1,Financial Manager,4.0,55000.0
6702,46.0,1,4,Marketing Manager,14.0,140000.0
6703,26.0,0,2,Sales Executive,1.0,35000.0

In [120]:
feature=df[['Age','Gender','Education Level','Years of Experience']]
label=df[['Salary']]

In [122]:
label

        Salary
0      90000.0
1      65000.0
2     150000.0
3      60000.0
4     200000.0
...        ...
6699  200000.0
6700   50000.0
6701   55000.0
6702  140000.0
6703   35000.0

[6704 rows x 1 columns]

In [124]:
 from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(feature,label,test_size=0.2,random_state=42)

In [146]:
print(feature.ndim)
print(feature.shape)

2
(6704, 4)

In [148]:
print(label.ndim)
print(label.shape)

2
(6704, 1)

In [136]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression() # to give max_iter= 500 incase if Sigmoid doesnt converge
lr.fit(x_train,y_train)

LinearRegression()

In [156]:
y_pred = lr.predict(x_test)

In [160]:
lr.score(x_test,y_test)

0.6658933535750999